*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif; 
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* EYL & SEARCH BU.. "CENTER" */
    align-items: center;
    background-color: #000;
    background: linear-gradient(135deg,#141E30,#243B55);
}

.container{
    width: 400px;
    height: min-content; /*JETLI height HASE ATLI ANI JATE LAILE */
    background-color: #fff;
    border-radius: 12px;
    padding: 28px;
}

.search-box{
    width: 100%;
    height: min-content;/*JETLI height HASE ATLI ANI JATE LAILE */
    display: flex;
    justify-content: space-between; /*IF DIS NOT FLEX TO JUSTI.. KAI KAM NU NHI */
    align-items: center;
}

.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: #e6f5fb;
    padding: 12px 16px;
    border-radius: 14px;
}

.search-box input::placeholder{
    color: #000;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search-box button:hover{
    color: #fff;
    background-color: #ababab;
}

.weather-body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
    display: none;
}
.weather-body img{
    width: 60%;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 20px;
}

.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 36px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 80%;
}

.image{
    width: 15%;
    height: 99px;
    object-position: 100% 50%;
    background-color: rgba(0, 0, 0, 0);
    margin: -36% 20% 83px -32%;
    padding: 0 0%;
}

.bg-scene{
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
}



.cloud{
    color: rgba(255,255,255,.12);
}

.cloud1{
    position: absolute;
    top: 120px;
    left: 100px;
    font-size: 90px;
}

.cloud2{
    position: absolute;
    bottom: 120px;
    right: 180px;
    font-size: 120px;
}

.rain-cloud{
    position: absolute;
    bottom: 180px;
    left: 150px;
    font-size: 110px;
    color: rgba(255,255,255,.10);
}

.lightning{
    position: absolute;
    top: 70px;
    right: 740px;
    font-size: 80px;

    color: #ffd700;

    text-shadow:
        0 0 10px #ffd700,
        0 0 20px #ffd700,
        0 0 40px #ffea00,
        0 0 60px #ffea00;

    animation: flash 4s infinite;

}

/* Make clouds move */
.cloud1{
    animation: float1 18s linear infinite;
}

.cloud2{
    animation: float2 22s linear infinite;
}

@keyframes float1{
    from{
        transform: translateX(-50px);
    }
    to{
        transform: translateX(100px);
    }
}

@keyframes float2{
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(-50px);
    }
}

/* Make lightning flash */
@keyframes flash{
    0%,90%,100%{
        opacity: .2;
    }

    92%,94%{
        opacity: 1;
        transform: scale(1.1);
    }
}


.sun{
    position: absolute;
    top: 70px;
    right: 120px;

    width: 120px;
    height: 120px;

    border-radius: 50%;

    background: radial-gradient(
        circle,
        #fff176 0%,
        #ffd54f 40%,
        #ffb300 100%
    );

    box-shadow:
        0 0 30px #ffd54f,
        0 0 60px #ffca28,
        0 0 100px rgba(255,193,7,.6);
}
.sun{
    animation: glow 4s ease-in-out infinite;
}

@keyframes glow{
    0%,100%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.05);
    }
}